.data-nft {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #f5f5f5;
}

.nft-list {
  margin: 0vh 5vh 0vh 5vh;
  color: #133b61b4;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 200px;
}

.nft-item {
  min-width: 200px;
  margin-top: 5vh;

}

.btn-sell {
  margin: 10px 10px 10px 10px;
  min-width: 150px;
}

.nft-inputs {
  margin: 0vh 2vh 0vh 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.nft-image {
  margin: 0vh 0vh 2vh 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

//btn hide/show nft
.btn-nfts {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.actions-nft {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}

.nft-title {
  margin: 2vh 0vh 0vh 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-id {
  margin: 2vh 2vh 2vh 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}