<div class="data-nft">
  <div class="btn-nfts">
    <button (click)="showNFTs()" class="btn"
      [ngClass]="{'btn-secondary': list_nft.length != 0,'btn-primary': list_nft.length == 0}">
      {{ list_nft.length == 0 ? 'Show My NFTs' : 'Hide NFTs' }}</button>
  </div>

  <div *ngIf='nftCount != -1'>
    <h1 class="nft-title">My NFTs</h1>
    <h1 class="nft-title">Total: {{nftCount}}</h1>
  </div>

  <div *ngIf='list_nft.length != 0'>
    <div class="nft-list">
      <div class="nft-item" *ngFor="let nft of list_nft">
        <h3 class="nft-id">NFT Id: {{nft.id}}</h3>

        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Price</span>
          <input [(ngModel)]='nft.price' type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm">
          <label class="coin-symbol">LUN</label>
        
          <div><input type="button" class="btn-approve btn btn-success" value="Approve Sell" (click)="approveSell(nft)">
            <input type="button" class="btn-sell btn btn-danger" value="Sell" (click)="sell(nft)">
          </div>
        </div>
        
        <div class="actions-nft">
          <input type="button" class="btn-sell btn btn-success" value="Approve Stake" (click)="approveStake(nft)">
          <input type="button" class="btn-sell btn btn-primary" value="Stake" (click)="stake(nft)">

        </div>
      </div>
    </div>
  </div>

  <app-toast [message]='message'></app-toast>