<div class="data-nft">
  <div class="btn-nfts">
    <button class="btn btn-primary" (click)="showNFTs()">
      {{ list_nft.length == 0 ? 'Show My NFTs' : 'Hide NFTs' }}</button>
  </div>

  <div *ngIf='nftCount != -1'>
    <h1 class="big-title">My NFTs</h1>
    <h1 class="medium-title">Total: {{nftCount}}</h1>
  </div>

  <div *ngIf='list_nft.length != 0'>
    <div class="nft-list">
      <div class="nft-item" *ngFor="let nft of list_nft">
        <h3 class="small-title">NFT Id: {{nft.id}}</h3>
        <img class="nft-image" src="{{nft.image}}" alt="nft_image" width="200px" height="200px">
        <div class="nft-inputs input-group input-group-sm mb-3">
          <div>
            <span class="input-group-text" id="inputGroup-sizing-sm">Price</span>
            <input [(ngModel)]='nft.price' type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm" placeholder="(LUN)">

          </div>
        </div>
        <div class="actions-nft">
          <input type="button" class="btn-sell btn btn-success" value="Approve Sell" (click)="approveSell(nft)">
          <input type="button" class="btn-sell btn btn-danger" value="Sell" (click)="sell(nft)">
        </div>
        <div class="actions-nft">
          <input type="button" class="btn-sell btn btn-success" value="Approve Stake" (click)="approveStake(nft)">
          <input type="button" class="btn-sell btn btn-primary" value="Stake" (click)="stake(nft)">
        </div>
      </div>
    </div>
  </div>

  <app-toast [message]='message'></app-toast>