nft-token-solidity/build
nft-token-solidity/node_modules
nft-token-solidity/package-lock.json
react-write-read-smart-contracts/node_modules
react-write-read-smart-contracts/package-lock.json
front-market/.vscode
front-market/.angular
front-market/node_modules
.vscode