<div class="mint-nft">
  <button id="mint-btn" *ngIf="!minting" (click)="mint()" class="btn btn-primary">Mint NFT</button>
  <div *ngIf="minting">
    <span>Minting NFT....</span>
    <div class="spinner-border text-success" role="status"></div>
  </div>
</div>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true"
  [ngClass]="{'show-snack': txHash, 'hide-snack': !txHash}">
  <div class="toast-header">
    <img src="../../assets/check.png" width="50px" class="rounded me-2" alt="Success mint">
    <strong class="me-auto">NFT minted succesfully</strong>
  </div>
  <div class="toast-body">
    TX Hash: {{txHash}}
  </div>
  <button (click)='hideToast()' type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
</div>