<div class="data-lists">

    <div class="btn-list">
      <button class="btn" [ngClass]="{'btn-secondary': my_nfts_listed.length != 0,'btn-primary': my_nfts_listed.length == 0}"
        (click)="showList()">
        {{ active_listing_count == -1 ? 'Show My NFTs Listed' : 'Hide My NFTs listed' }}</button>
    </div>
  
    <div *ngIf='active_listing_count != -1'>
  
      <h1 class="list-title">My NFT's Listed</h1>
      <h1 class="list-title">Total: {{my_nfts_listed.length}}</h1>
      <div class="nft-list">
        <div class="nft-item" *ngFor="let nft of my_nfts_listed">
          <h3>NFT Id: {{nft.token_id}}</h3>
  
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Price {{nft.price}}</span>
          </div>
  
          <div class="div-deslist">
            <input type="button" class="btn-deslist btn btn-success" value="Deslist" (click)="deslist(nft)">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true"
    [ngClass]="{'show-snack': message.data, 'hide-snack': !message.data}">
    <div class="toast-header">
      <img src="assets/check.png" width="50px" class="rounded me-2" alt="Success">
      <strong class="me-auto">{{message.action}}</strong>
    </div>
    <div class="toast-body">
      {{message.data}}
    </div>
    <button (click)='hideToast()' type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>