.nft-list {
    margin: 0vh 10vh 0vh 10vh;
    color: #133b61b4;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 200px;
    align-items: center;
    justify-content: center;
  }
  
  .nft-item {
    min-width: 200px;
    margin-top: 5vh;
  }
  
  .btn-list {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
  
  .data-lists {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70vh;
  }
  
  .div-unstake {
    display: flex;
    justify-content: center;
  }
  
  
  .btn-unstake {
    margin: 10px 10px 10px 10px;
    min-width: 100px;
  
  }
  
  .nft-id {
    margin: 2vh 0vh 0vh 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  
  .coin-symbol {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 15px;
  }