.nft-list {
    margin: 0vh 10vh 0vh 10vh;
    color: #133b61b4;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 200px;
    align-items: center;
    justify-content: center;
  }

  .nft-item {
    min-width: 200px;
    margin-top: 5vh;
  }

  .btn-nfts {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  .nft-image {
    margin: 2vh 0vh 2vh 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }  

  .data-nft {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  
  .btn-approve {
    margin: 10px 10px 10px 10px;
    min-width: 100px;

  }
  
  .btn-sell {
    margin: 10px 10px 10px 10px;
    min-width: 100px;
  }
  .nft-id {
    margin: 2vh 0vh 0vh 2vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-weight: bold;
  }

  .nft-price {
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;

  }
