.account-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50vh;

  }
  
  .label-account {
      padding-right: 30vh;
      color: white;
  }

  .title {
      margin-left: 2vh;
  }

  .item:hover {
    color: #ffffff !important;
    transform: scale(1.2);
    cursor: pointer;
  }