<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="title navbar-brand" href="home">Lungo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let item of menuItems" class="nav-item">
        <a class="item nav-link" href="{{item.linkUrl}}"> {{item.linkName}} <span class="sr-only"></span></a>
      </li>
      <li class="account-data" *ngIf='account != null && isLogin' >
        <span class="label-account">
        <label>{{account}}</label>
      </span>
      </li>
      <li class="account-data" *ngIf='account == null && !isLogin'>
        <button type="button" class="btn btn-success" (click)="connectionHandler()">Connect
          Wallet</button>
      </li>
    </ul>
  </div>
</nav>