<div class="data-lists">

  <div class="btn-list">
    <button class="btn btn-primary" (click)="showList()">
      {{ active_listing_count == -1 ? 'Show My NFTs Listed' : 'Hide My NFTs listed' }}</button>
  </div>

  <div *ngIf='active_listing_count != -1'>

    <h1 class="big-title">My NFT's Listed</h1>
    <h1 class="medium-title">Total: {{my_nfts_listed.length}}</h1>
    <div class="nft-list">
      <div class="nft-item" *ngFor="let nft of my_nfts_listed">
        <h3 class="small-title">NFT Id: {{nft.token_id}}</h3>
        <img class="nft-image" src="{{nft.image}}" alt="nft_image" width="200px" height="200px">

        <h3 class="small-label">Price</h3>
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-xl">{{nft.price}} LUN</span>
        </div>
        <div class="div-deslist">
          <input type="button" class="btn-deslist btn btn-success" value="Deslist" (click)="deslist(nft)">
        </div>
      </div>
    </div>
  </div>
</div>

<app-toast [message]='message'></app-toast>